services:
  - type: web
    name: aelora-back-end
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 22.12.0
      - key: PORT
        value: 10000
